<style>
    .showUserDetails{
        color:rgb(10, 106, 214);
        cursor:pointer;
    }
</style>

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="mt-5">
            
            <h1 class="text-center">RADical Systems Web Developer Task</h1>

            <!-- Page Content One -->
            <div class="container">

                <!-- DataTales -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Customers Data</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                        <tr>
                                            <th>Customer Number</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Payment Type</th>
                                            <th>First Contact</th>
                                        </tr>
                                </thead>
                                <tfoot>
                                        <tr>
                                            <th>Customer Number</th>
                                            <th>Name</th>
                                            <th>Address</th>
                                            <th>Status</th>
                                            <th>Payment Type</th>
                                            <th>First Contact</th>
                                        </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let customers of customer;let i = index">
                                        <td>{{ customers.customernumber }}</td>
                                        <td class="showUserDetails" (click)="getIndex(i)">{{ customers.fullname }}</td>
                                        <td>{{ customers.theMainAddress }}</td>
                                        <td>{{ customers.theStatus }}</td>
                                        <td>{{ customers.paymentType }}</td>
                                        <td>{{ customers.firstcontact }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- End of DataTables -->
                <br/><br/>

                <!-- More Customer Details -->
                <div class="card mb-4">
                    <div class="card-header">
                        More Customer Details
                    </div>
                    <div class="card-body">
                        <p #fullname>Name</p>
                        <p #theMainAddress>Main Address</p>
                        <p #sitename>Site</p>
                        <p #phone>Phone Number</p>
                        <p #unitlist>Unit(s)</p>
                    </div>
                </div>
                <!-- End of More Customer Details -->

            </div>
            <!-- End of Page Content One -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- End of Page Wrapper -->
</div>